medium-rss/comic-generation-webhook-workflow.json
{
  "name": "漫画生成工作流 - Webhook 版本",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comic-generator",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "id": "webhook-trigger",
      "name": "Webhook 触发器",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-book-name",
              "leftValue": "={{ $json.body.书名 }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            },
            {
              "id": "check-chapter",
              "leftValue": "={{ $json.body.章节 }}",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-input",
      "name": "验证输入数据",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"深刻理解《{{ $json.body.书名 }}》这本书，将{{ $json.body.章节 }}内容，{{ $json.body.提示词 || '生成像《足球小将》那种专业分镜结构、漫画叙事节奏、对白气泡、拟声词、画格布局、视角变化、动态镜头，中文对白。请生成一张完整的漫画分镜图。' }}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"response_modalities\": [\"IMAGE\"],\n    \"response_mime_type\": \"image/jpeg\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "generate-with-gemini",
      "name": "Gemini 生成图片",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200],
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gemini-api-credential",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.candidates && $json.candidates.length > 0 }}",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-response",
      "name": "检查生成结果",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [850, 200],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 提取 Gemini 返回的图片数据\nconst candidates = $input.item.json.candidates;\n\nif (!candidates || candidates.length === 0) {\n  throw new Error('No candidates found in response');\n}\n\nconst parts = candidates[0].content.parts;\nif (!parts || parts.length === 0) {\n  throw new Error('No parts found in content');\n}\n\n// 查找 inline_data\nlet imageData = null;\nlet mimeType = 'image/jpeg';\n\nfor (const part of parts) {\n  if (part.inline_data) {\n    imageData = part.inline_data.data;\n    mimeType = part.inline_data.mime_type || 'image/jpeg';\n    break;\n  }\n}\n\nif (!imageData) {\n  throw new Error('No image data found in response');\n}\n\n// 将 base64 数据转换为二进制\nconst buffer = Buffer.from(imageData, 'base64');\n\n// 获取原始 webhook 数据\nconst webhookData = $('Webhook 触发器').item.json.body;\n\nreturn {\n  json: {\n    书名: webhookData.书名,\n    章节: webhookData.章节,\n    mimeType: mimeType,\n    imageSize: buffer.length,\n    success: true,\n    message: '漫画生成成功'\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: mimeType,\n      fileName: `${webhookData.书名}_${webhookData.章节}_${new Date().getTime()}.jpg`\n    }\n  }\n};"
      },
      "id": "extract-image",
      "name": "提取图片数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "fileName": "=/tmp/comics/{{ $json.书名 }}_{{ $json.章节 }}_{{ $now.format('yyyyMMdd_HHmmss') }}.jpg",
        "dataPropertyName": "data"
      },
      "id": "save-file",
      "name": "保存到本地",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "jsCode": "// 返回错误：缺少必填字段\nreturn {\n  json: {\n    success: false,\n    error: '缺少必填字段',\n    message: '请提供书名和章节信息',\n    required: ['书名', '章节'],\n    received: $input.item.json.body || {}\n  }\n};"
      },
      "id": "error-missing-fields",
      "name": "缺少必填字段",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "// 返回错误：图片生成失败\nconst error = $input.item.json;\n\nreturn {\n  json: {\n    success: false,\n    error: '图片生成失败',\n    details: JSON.stringify(error, null, 2)\n  }\n};"
      },
      "id": "error-generation-failed",
      "name": "生成失败",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook 触发器": {
      "main": [
        [
          {
            "node": "验证输入数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "验证输入数据": {
      "main": [
        [
          {
            "node": "Gemini 生成图片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "缺少必填字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 生成图片": {
      "main": [
        [
          {
            "node": "检查生成结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查生成结果": {
      "main": [
        [
          {
            "node": "提取图片数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "生成失败",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取图片数据": {
      "main": [
        [
          {
            "node": "保存到本地",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-14T13:59:24.739Z",
  "versionId": "1"
}
