medium-rss/comic-generation-gemini-workflow.json
{
  "name": "漫画生成工作流 - Gemini 原生版本",
  "nodes": [
    {
      "parameters": {
        "formTitle": "漫画生成器 (Gemini)",
        "formDescription": "使用 Google Gemini 原生图片生成能力，输入书名和章节信息，自动生成专业漫画分镜",
        "formFields": {
          "values": [
            {
              "fieldLabel": "书名",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "例如：小岛经济学"
            },
            {
              "fieldLabel": "章节",
              "fieldType": "text",
              "requiredField": true,
              "placeholder": "例如：第一章"
            },
            {
              "fieldLabel": "提示词（可选）",
              "fieldType": "textarea",
              "requiredField": false,
              "placeholder": "例如：生成像《足球小将》那种专业分镜结构、漫画叙事节奏、对白气泡、拟声词、画格布局、视角变化、动态镜头，中文对白"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {
          "buttonLabel": "生成漫画"
        }
      },
      "id": "form-trigger-node",
      "name": "表单触发器",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "method": "POST",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $credentials.geminiApiKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"深刻理解《{{ $json.书名 }}》这本书，将{{ $json.章节 }}内容，{{ $json.提示词 || '生成像《足球小将》那种专业分镜结构、漫画叙事节奏、对白气泡、拟声词、画格布局、视角变化、动态镜头，中文对白。请生成一张完整的漫画分镜图。' }}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"response_modalities\": [\"IMAGE\"],\n    \"response_mime_type\": \"image/jpeg\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "generate-with-gemini",
      "name": "Gemini 生成图片",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [450, 300],
      "onError": "continueRegularOutput",
      "credentials": {
        "geminiApi": {
          "id": "gemini-api-key",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json.candidates && $json.candidates.length > 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-response",
      "name": "检查生成结果",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [650, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// 提取 Gemini 返回的图片数据\nconst candidates = $input.item.json.candidates;\n\nif (!candidates || candidates.length === 0) {\n  throw new Error('No candidates found in response');\n}\n\nconst parts = candidates[0].content.parts;\nif (!parts || parts.length === 0) {\n  throw new Error('No parts found in content');\n}\n\n// 查找 inline_data\nlet imageData = null;\nlet mimeType = 'image/jpeg';\n\nfor (const part of parts) {\n  if (part.inline_data) {\n    imageData = part.inline_data.data;\n    mimeType = part.inline_data.mime_type || 'image/jpeg';\n    break;\n  }\n}\n\nif (!imageData) {\n  throw new Error('No image data found in response');\n}\n\n// 将 base64 数据转换为二进制\nconst buffer = Buffer.from(imageData, 'base64');\n\n// 获取原始表单数据\nconst formData = $('表单触发器').item.json;\n\nreturn {\n  json: {\n    书名: formData.书名,\n    章节: formData.章节,\n    mimeType: mimeType,\n    imageSize: buffer.length\n  },\n  binary: {\n    data: {\n      data: buffer.toString('base64'),\n      mimeType: mimeType,\n      fileName: `${formData.书名}_${formData.章节}_${new Date().getTime()}.jpg`\n    }\n  }\n};"
      },
      "id": "extract-image",
      "name": "提取图片数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "fileName": "=/tmp/comics/{{ $json.书名 }}_{{ $json.章节 }}_{{ $now.format('yyyyMMdd_HHmmss') }}.jpg",
        "dataPropertyName": "data"
      },
      "id": "save-file",
      "name": "保存到本地",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "jsCode": "// 错误处理：返回错误信息\nconst error = $input.item.json;\n\nreturn {\n  json: {\n    success: false,\n    error: '图片生成失败',\n    details: JSON.stringify(error, null, 2)\n  }\n};"
      },
      "id": "error-handler",
      "name": "处理错误",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    }
  ],
  "connections": {
    "表单触发器": {
      "main": [
        [
          {
            "node": "Gemini 生成图片",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 生成图片": {
      "main": [
        [
          {
            "node": "检查生成结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查生成结果": {
      "main": [
        [
          {
            "node": "提取图片数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "处理错误",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取图片数据": {
      "main": [
        [
          {
            "node": "保存到本地",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-14T12:45:00.000Z",
  "versionId": "2"
}
